<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Post</title>
  <link rel="stylesheet" href="main.css">
</head>
  <body class="grey-bg">
  
    <%- include('header.ejs') %>
    <form class="form-box" action="/edit/<%= result._id %>" method="POST">
      <h4>수정</h4>
      <input name="title" value="<%= result.title %>">
      <input name="content" value="<%= result.content %>">
      <button type="submit">전송</button>
    </form>
  </body>
</html>
