<div class="header">
  <a href="/" style="font-size: 3rem;">HOME</a>
  <a href="/write"><p>WRITE</p></a>
  <a href="/list"><p>LIST</p></a>
  <a href="/login"><p>LOGIN</p></a>
  <a href="/join"><p>SIGN UP</p></a>
</div>