<!-- login.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
</head>
<body>

<div id="loginForm">

  <form class="form-box" action="<%= locals.isLoggedIn ? '/logout' : '/login' %>" method="POST">
    <h4><%= locals.isLoggedIn ? '로그아웃' : '로그인' %></h4>
    <% if (!locals.isLoggedIn) { %>
      <input name="username" placeholder="Username">
      <input type="password" name="password" placeholder="Password">
    <% } %>
    <button type="submit"><%= locals.isLoggedIn ? '로그아웃' : '로그인' %></button>
  </form>

</div>

<script>
  window.onload = function() {
    const loginForm = document.getElementById('loginForm');

    // 서버로부터 전달받은 로그인 상태 정보
    const isLoggedIn = <%= JSON.stringify(isLoggedIn) %>;

    // 로그인 상태에 따라 폼 동작 변경
    loginForm.action = isLoggedIn ? '/logout' : '/login';
  }
</script>

</body>
</html>
