<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="main.css">
</head>
<body>

<%- include('header.ejs') %>


<h2 style="text-align: center;"><%= userInfo ? userInfo.username : '' %>님 반갑습니다!</h2>
<table>
  <tr>
    <th>ID</th>
    <td><%= userInfo ? userInfo.username : '' %></td>
  </tr>

  
</table>

</body>
</html>
