<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="main.css">
</head>
<body>

<%- include('header.ejs') %>

 <h2 style="text-align: center;  ">INFO</h2>
<table  >
  <tr>
    <th>ID</th>
    <td>SHSH</td>
  </tr>
  <tr>
    <th>NAME</th>
    <td>BANGSUENGHEE</td>
  </tr>
  <tr>
    <th>Email</th>
    <td>bangseunghee1108@gmail.com</td>
  </tr>
  <tr>
    <th>BIRTH</th>
    <td>1996.11.08</td>
  </tr>
</table>

</body>
</html>
