<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="main.css">
  <body class="grey-bg">
    
  <%- include('header.ejs') %>

  <form class="form-box" action="/newPost" method="POST">
    <h4>글 작성</h4>
    <input name="title" class="input-title">
    <input name="content" class="input-content">
    <!-- <input type="file" name="image" accept="image/*"> -->
    <button type="submit">전송</button>
</form> 

<% if (currentUser && postAuthorId && currentUser._id.toString() === postAuthorId.toString()) { %>
  <a href="/edit/<%= postId %>">수정</a>
  <a href="/delete/<%= postId %>">삭제</a>
<% } %>


</body>
</html>

<!-- enctype="multipart/form-data" -->