* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

.header {
  display: flex;
  padding: 10px;
  align-items: center;
  background : white;
}

.header a {
  margin: 10px;
}

.logo {
  font-weight: bold;
  font-size: 2rem;
}


.grey-bg {
  background: #eee;
}

.white-bg {
  background: white;
  margin: 20px;
  border-radius: 5px;
}

.list-box {
  padding : 10px;
  border-bottom: 1px solid#eee;
}

.list-box h4 {
  font-size: 1.2rem;
  margin: 5px;
}

.list-box p {
  font-size: 1rem;
  margin: 5px;
  color: grey;
}

input,div {
  box-sizing: border-box;
}

.form-box {
  background : #eee;
  padding : 25px;
  margin: 20px;
  border-radius: 8px;
}

.form-box h4 {
  font-size: 1.5rem;
}

.form-box input {
  padding : 10px;
  font-size: 1rem;
  width: 100%;
  height: 20vh;
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px;
}
.form-box .input-title {
  width: 200px; /* 예시로 너비를 200px로 설정 */
  height: 10px;
  margin-bottom: 10px;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 3px;
}

/* 스타일 충돌 발생 */
.form-box .input-content {
  width: 100%; /* 예시로 전체 너비로 설정 */
  height: 40px;
  margin-bottom: 10px;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.form-box button {
  padding: 10px;
  border : none;
  background : lightgrey;
  border-radius: 5px;
  margin: 10px;
}

.detail-bg {
  background: white;
  padding: 15px;
  margin-top: 10px;
}

.form-title {
  height: 40vh;
}

.join-form {
  background : #eee;
  padding : 25px;
  margin: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.join-form input {
  padding : 10px;
  font-size: 1rem;
  width: 40vw;
  height: 10vh;
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px;
}

.join-form .input-username {
  width: 40vw; /* 예시로 너비를 200px로 설정 */
  height: 10vh;
  margin-bottom: 10px;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 3px;
}

/* 스타일 충돌 발생 */
.join-form .input-password {
  width: 40vw; /* 예시로 전체 너비로 설정 */
  height: 40vh;
  margin-bottom: 10px;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.join-form button {
  width: 40vw;
  padding: 10px;
  border : none;
  background : lightgrey;
  border-radius: 5px;
  margin: 10px;
}